/* mobile first rules
	- these get applied right away as soon as the page loads
	- these should be your mobile-first design rules
	- work up gradually with media queries to adapt larger layout
*/

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	/* 1em = 16px - relative of measurement */
}

.container {
	margin: 0 auto;
	background-color: #efefef;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-width: 1200px;
}

.box {
	background-color: #8ea86e;
	color: #fff;
	border-radius: 5px;
	padding: 20px;
	text-align: center;
	margin: 10px;
	width: 100px;
	font-size: 1em;
	/* shorthand flex declaration for flex items:
	grow, shrink, basis 
	*/
	flex: 1 1 150px;
}

.box4 {
	display: none;
}

/* handling handheld / mobile @ landscape */
@media screen and (min-width: 480px) {
	.box {
		background-color: red;
		color: #fefefe;
		width: 150px;
	}
}

/* tablet @ portrait */
@media screen and (min-width: 768px) {
	.box {
		background-color: red;
		color: #fefefe;
		font-size: 1.5em; /* 16 * 1.5 = 24 */
	}
}